.welcome {
  font-family: "Rajdhani";
  font-size: 90px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.text {
  font-size: 100px;
  color:white;
  max-width: 80%;
  text-align: center;
}

.underline {
  position: relative;
  left: 0;
  top: 0;
}